
.parallax {
    background-image: url("img_parallax.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html,body, .col-md-12.col-xs-12.col-lg-12{padding:0;margin:0;width:100%;height: 100%;}

textarea{
	display:block;
	height:100% !important;
}


@media (max-width: 100%) {

    .parallax {
        background-size: 1000px 900px; /* Force the image to its minimum width */
    }

}