#div_listar_relacionados {
	width: 975px;
	margin: 0 auto;
	/* padding: 0 60px 0 0; */
}


a.titulo_post_relacionado {
font-family:Roboto,sans-serif;
font-weight:400;
font-size:1.4em;
text-decoration:none;
color: #a9a9a9;
}

a.titulo_post_relacionado:hover {
text-decoration:underline;
}

a.link_listar_relacionados {
color:white;
text-decoration:none;
}


a.link_listar_relacionados:hover {
text-decoration:underline;
}

p.titulo_relacionados {
font-size: 26px;
font-family: sans-serif;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
width: 100%;
background-color: transparent;
color: #A9A9A9 !important;
padding: 5px 0;
white-space: normal;
text-align: left !important;
border-bottom: 4px solid #a9a9a9;
}

ul.ul_lista_relacionados  {
margin:0px;
padding:0px;
}

li.lista_relacionados {
list-style-type:none;
padding: 5px 30px;
}

li.lista_relacionados:nth-child(even) {
background-color: rgb(244, 244, 244);
}

#box_titulo_post_relacionado {
padding-bottom:8px;
}

#section_relacionados {
background-color:#f4f4f4;
padding-top:15px;
padding-bottom:15px;
margin-top:60px;
width: 950px;
margin: 0 auto;
}

#nav_relacionados {
line-height:27px;
font-family:verdana;
color:#384042;
background-color:#FFF;
margin:0 auto;
padding: 5px 60px 20px;
box-sizing: border-box;
border: 1px solid #e9e9e9;
}



#tipo_post_relacionado {
font-size:0.8em;
font-family:Roboto,sans-serif;
font-weight:400;
color: #a9a9a9;
}

#botao_listar_relacionados {
width:200px;
font-family:Roboto,sans-serif;
font-weight:400;
font-size:1.3em;
color:#FFF;
background-color:grey;
padding:10px;
}

.separador10px {
height:20px;
}

.box-unifica {
	background-color: #494949; 
	text-align:center; 
	color:#FFF; 
	padding: 10px 20px;
}

@media only screen and (max-width: 1150px) and (orientation:landscape),(max-width: 1150px) and (orientation:portrait) {

#section_relacionados {
	width: 95%;
}

#div_listar_relacionados {
width:100%;
}

p.titulo_relacionados {
width:95%;
}

#nav_relacionados {
line-height:30px;
font-family:verdana;
color:#384042;
background-color:#FFF;
padding-left:7px;
padding-right:7px; 
}

}
